name: MlFlow CI - Retrain Model

on:
  push:
    branches: [ main ]
    paths:
      - 'MLProject/**'
      - '.github/workflows/mlflow-ci.yml'
  workflow_dispatch: {} 

env:
  MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}
  MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
  MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}

  DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
  DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

jobs:
  train-model:
   runs-on: ubuntu-latest

   steps: 
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Python 3.12.7
      uses: actions/setup-python@v4
      with:
        python-version: '3.12.7'

    - name: Check Env
      run: |
        python --version
        pip list

    - name: Install Dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run MLFlow Project
      working-directory: ./
      run: |
        mlflow run MLProject -e main --env-manager=local

    - name: Get latest MLFlow Run Id
      shell: bash
      run: |
        BEST_RUN_FILE="MLProject/artifacts/best_run_id.txt"

        if [ -f "$BEST_RUN_FILE" ]; then
          echo "Found best_run_id file at $BEST_RUN_FILE"
          RUN_ID=$(cat "$BEST_RUN_FILE")
        else
          echo "best_run_id file not found. Cannot determine RUN_ID."
          RUN_ID=""
        fi

        echo "Selected RUN_ID=$RUN_ID"
        echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV

    - name: Install Python Dependencies
      run: |
        pip install docker

    - name: Upload to Github
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-training-artifacts
        path: |
          artifacts
          mlruns
        if-no-files-found: ignore

    - name: Build Docker Model
      if: success() && env.RUN_ID != ''
      run: |
        echo "Building Docker image from RUN_ID=${RUN_ID}"
        mlflow models build-docker \
          -m "runs:/${RUN_ID}/model" \
          -n "${DOCKERHUB_USERNAME}/covertype-mlflow:${RUN_ID}"

    - name: Login to DockerHub
      if: success() && env.RUN_ID != ''
      run: |
        echo "${DOCKERHUB_TOKEN}" | docker login -u "${DOCKERHUB_USERNAME}" --password-stdin

    - name: Tag Docker Image as Latest
      if: success() && env.RUN_ID != ''
      run: |
        docker tag "${DOCKERHUB_USERNAME}/covertype-mlflow:${RUN_ID}" "${DOCKERHUB_USERNAME}/covertype-mlflow:latest"

    - name: Push Docker Image
      if: success() && env.RUN_ID != ''
      run: |
        docker push "${DOCKERHUB_USERNAME}/covertype-mlflow:${RUN_ID}"
        docker push "${DOCKERHUB_USERNAME}/covertype-mlflow:latest"

        