name: MlFlow CI - Retrain Model

on:
  push:
    branches: [ main ]
    paths:
      - 'MLProject/**'
      - '.github/workflows/mlflow-ci.yml'
  workflow_dispatch: {} 

jobs:
  train-model:
   runs-on: ubuntu-latest

   env:
    MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}
    MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
    MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}

    DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
    DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

   steps: 
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run MLFlow Project
      working-directory: ./
      run: |
        mlflow run MLProject -e main --no-use-conda

    - name: Determine Best Run ID
      shell: bash
      run: |
        BEST_RUN_FILE="artifacts/best_run_id.txt"

        if [ -f "$BEST_RUN_FILE" ]; then
          echo "Found best_run_id file at $BEST_RUN_FILE"
          RUN_ID=$(cat "$BEST_RUN_FILE")
        else
          echo "best_run_id file not found, using latest run from mlruns/0"
          if [ -d "mlruns/0" ]; then
            # Ambil direktori run terbaru dari experiment 0
            RUN_ID=$(ls -td mlruns/0/*/ | head -1 | xargs -n1 basename)
          else
            echo "No mlruns/0 directory found. Cannot determine RUN_ID."
            RUN_ID=""
          fi
        fi

        echo "Selected RUN_ID=$RUN_ID"
        echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV


    - name: Upload Training Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-training-artifacts
        path: |
          artifacts
          mlruns
        if-no-files-found: ignore

    - name: Login to DockerHub
      if: success() && env.RUN_ID != ''
      run: |
        echo "${DOCKERHUB_TOKEN}" | docker login -u "${DOCKERHUB_USERNAME}" --password-stdin

    - name: Build Docker Image from MLflow Model
      if: success() && env.RUN_ID != ''
      run: |
        echo "Building Docker image from RUN_ID=${RUN_ID}"

        mlflow models build-docker \
          -m "runs:/${RUN_ID}/rf_model" \
          -n "${DOCKERHUB_USERNAME}/covertype-mlflow:${RUN_ID}"

    - name: Tag Docker Image as Latest
      if: success() && env.RUN_ID != ''
      run: |
        docker tag "${DOCKERHUB_USERNAME}/covertype-mlflow:${RUN_ID}" "${DOCKERHUB_USERNAME}/covertype-mlflow:latest"

    - name: Push Docker Image
      if: success() && env.RUN_ID != ''
      run: |
        docker push "${DOCKERHUB_USERNAME}/covertype-mlflow:${RUN_ID}"
        docker push "${DOCKERHUB_USERNAME}/covertype-mlflow:latest"

        